.dots_custom {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 0;
  padding-top: 0rem !important;
  padding-bottom: 1.6 !important;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #ffffff;
  opacity: 0.2;
  cursor: pointer;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  padding: 0;
  content: '';
  color: transparent;
}

.dots_custom li.slick-active button {
  background-color: #92c015;
  opacity: 1;
}
