@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.banner-title {
  margin-top: 3rem;
  margin-bottom: 2.4rem;
  height: 10.3rem;
}

.title-date {
  color: var(--grayscale-white, #fff);
  text-align: center;
  margin-bottom: 1.2rem;

  /* subtitle/subtitle5_sb_12 */
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
  animation: fadeInOut 1s ease-out forwards; /* 4초마다 반복되는 애니메이션 */
}

.title-name {
  color: var(--grayscale-white, #fff);
  text-align: center;
  margin-bottom: 4px;
  /* title/title1_b_24 */
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  animation: fadeInOut 1s ease-out forwards; /* 4초마다 반복되는 애니메이션 */
}

.title-sub {
  color: var(--grayscale-gray500, #93959d);
  text-align: center;
  /* body/body3_m_14 */
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  animation: fadeInOut 1s ease-out forwards; /* 4초마다 반복되는 애니메이션 */
}

.card {
  z-index: 1;
  width: 19.7rem;
  height: 26.2rem;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.25);
}
